.testing-box-list{
    background-color: blueviolet;
}
.list-box {
    // background-color: blue;
    padding-right: 10px;
    // width:fit-content;
    // overflow:auto;
        width: 100%;
    margin-right: 350px;
}
.list_navbar{
    margin-top:10px;
    font-weight: 700;
    font-size:26px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    .title{
        max-width:450.29px;
    }
    .search{
        display:flex;
        font-size: 18.48px;
        justify-content: center;
        align-items: center;
        padding:10px;
        box-shadow:3px 3px 7px rgba(0, 0, 0, 0.267);
        border-radius: 12px;
        font-weight:500;
        margin-top:10px;
        // height:30px;
        input{
            height:30px;
            margin-left:10px;
            border: none;
            outline:none;
            font-size:14px;
            
        }
    }
}
.main-title{
    margin-top:20px;
    margin-bottom: 20px;
    font-size:20px;
    line-height:22.5px;
    height:23px;
    margin: 20px;
    font-weight:900;
    text-transform: capitalize;
}
.list-items{
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .list-item {
        // background-color: blue;'
        display:flex;
        justify-content:space-between;
        align-self: center;
        font-weight: 600;
        padding: 20px;
        min-width: 155px;
        margin: 20px;
        border-radius: 12px;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.185);
      text-transform: capitalize;
      cursor: pointer;
      .plus{
          opacity: 0.6;
          font-size: 20px;
      }
    }
}
@media only screen and (max-width: 800px){
    .list-box {
        margin-right: 0px;
    }
    .list-items{

        .list-item{
            min-width: 100px;
        }
    }
}
